---
layout: default
---
<div class="post">
  <div class="post-nav">
    {% if page.next.url %}
      <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; 上一页</a>
    {% endif %}
    {% if page.previous.url %}
      <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">下一页 &raquo;</a>
    {% endif %}
  </div>

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
